.title{
    font-weight: bold;
}

.container {
    height: 40px; 
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}
.image{
    height: 40px;
    color: #314569;
    padding-top: 0px;
}
.image > svg{
    width: 40px;
    height: 40px;
}
.info{
    padding-left: 10px;
    cursor: pointer;
}
.hidden {
    display: none;
}
.filler{
    flex-grow: 1;
}
.smallInfo{
    font-size: .7em;
    font-weight: 200;
}

.smallInfo > span{
    padding-right: 15px;
}

.deleteBtn{
    cursor: pointer; 
    color: rgba(255, 0, 0, 0.40);
}
.deleteBtn:hover{
    color: rgba(255, 0, 0, 0.80);
}