.errorMessage{
    color: red;
}
.infoMessage{
    font-size: .5em;
    font-weight: normal;
    color: #12191f;
    padding-top: 0;
    text-align: center;
}

.modalForm label{
    margin-right: 20px;
}
.modalForm input{
    width: 70%!important;
}

.modalContent{
    padding: 40px 10px;
    font-weight: normal;
    text-align: center;
    min-height: 150px;
}
.modalContentLeft{
    text-align: left
}
.modalContent > div{
    font-weight: normal;
    color: #12191f;
    font-size: 1em;
}