
.container{
    width: 100%;
    padding-top: 1em;
}

.createFolderModel{
    text-align: center;
    padding: 30px;
}
.createFolderModel label{
    margin-right: 20px;
}


.modalContent{
    padding: 40px 10px;
    font-weight: 200;
}
.modalContent > span{
    font-weight: 400;
    color: #ff4646;
    font-size: 1.4em;
}