.title{
    font-weight: bold;
}

.container {
    height: 40px; 
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}
.container > a{
    display: inherit;
}
.image{
    height: 40px;
    color: #2c3d50;
    position: relative;
    top: -10px;
    width: 55px;
    text-align: left;

}
.info{
    padding-left: 10px;
    cursor: pointer;
}
.filler{
    flex-grow: 1;
}
.smallInfo{
    font-size: .7em;
}
.btn{
    background-color: transparent;
    border: 0px;
    margin: 1px 5px;
    color: #00000080;
}
.btn-group{
    color: #adacac;
}
