.title{
    font-weight: bold;
}

.container {
    height: 30px; 
    width: 100%;
    display: flex;
    flex-direction: row;
}
.image{
    height: 30px;
    color: #314569;
    padding-top: 5px;
}
.info{
    padding-left: 10px;
    cursor: pointer;
}
.info:hover {
    color: yellow;
}
.info > a {
    color: #314569;
}
.info > a:hover{
    text-decoration-line: none;
}

.smallInfo{
    font-size: .7em;
    font-weight: 200;
}

