.title{
    font-weight: bold;
}

.container {
    height: 40px; 
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}
.image{
    height: 40px;
    color: #769ee4;
}
.info{
    padding-left: 10px;
    cursor: pointer;
}

.smallInfo{
    font-size: .7em;
    font-weight: 200;
}

